name: Initialisation-CI

on:
  push:
    branches:
      - main
    paths:
      - "initialisation/**"
  pull_request:
    branches:
      - main
    paths:
      - "initialisation/**"

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '16'
      - name: Install jq
        run: sudo apt-get install -y jq
      - name: build-cli-tool
        working-directory: initialisation
        run: |
          ./buildCliTool.sh
      - name: smoke-test
        working-directory: initialisation
        env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          module_location=../knowledge-base/content/bootcamp/modules
          output=$(./initialisation-tool --git-token=$GIT_TOKEN --org=coreeng-git-api-tests --modules=p2p-fast-feedback --bootcampee-repo=initialisation-smoke-tests --module-location=$module_location)
          echo "Output of tool execution: $output"
         
          github_link=$(echo "$output" | grep -o "https://github.com/[[:alnum:]_-]*/[[:alnum:]_-]*/issues/")
          echo "Github link: $github_link"
          
          REPOSITORY=$(echo "$github_link" | awk -F'/' '{print $4 "/" $5}')
          
          issues_count=$(curl -s -H "Authorization: Bearer $GIT_TOKEN" "https://api.github.com/repos/$REPOSITORY/issues?state=all" | jq length)
          
          if [[ $issues_count -ne 4 ]]; then
            echo "Failed: Expected number of issues: 4, got: $issues_count"
            exit 1
          fi
          
          echo "Expected number of issues: 4, got: $issues_count"
          
          # Cleanup
          
          curl -L \
           -X DELETE \
           -H "Accept: application/vnd.github+json" \
           -H "Authorization: Bearer $GIT_TOKEN"\
           https://api.github.com/repos/$REPOSITORY
